/* Trying to see what happens if i switch flex direciton */

html, body, div, header, h2,
footer {
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}
a:link,a:visited {
  color:inherit;
}
h1 {
  font-size:1.5em;
}

h2 {
  font-size:1em;
}


/* flex parent */
#content {
  display:flex;
  flex-wrap:wrap;
  /* align-items:center; */
  justify-content: center;

}

#content-div {
  margin-top: 150px;
  display:flex;
  flex-wrap:wrap;
  flex-direction: column;
  justify-content: center;
  min-height:75vh;
}

div {
  flex:1;
}

/* relevant for index_ideal */

ul {
  float:right;
  margin-top:35px;
  margin-right:0;
  list-style:none;
  /* display:inline-block; */
  
}
 
li {
  display:inline;
  font-size: 20px;
}

/* flex-child */
#my-header {
  flex:1;
  min-width:100vw;
  min-height: 70px;
  font-size:30px;
  color: white;
  background-color:rgba(81, 81, 83,0.8);
  margin-bottom: 20px;
  position:fixed;
  top:0;
}

/* WARNING! Remove duplicate class vs id names */
#news-container {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  margin-left:30px;
  margin-right:50px;
  min-height:35em;

}

.newsitem {
  margin: 18px;
  padding:5px;
  min-width: 250px;
  max-width:calc(35vw - 30px);
  height: 15em;
  flex:1;
  /* border: 2px red solid; */
  color: black;
  background: white;
  box-shadow: 1px 2px 10px gray;
}

footer {
  align-self:flex-end;
  width: 100vw;
  padding:10px;
  margin-top:20px;
  margin-bottom:15px;
  text-align:right;
  background-color: rgba(75, 75, 75, 0.329);
}

#chikin {
  /* width:100%; */
  margin-left:15vh;
  margin-right:15vh;
  max-width: 80vw;
  max-height: calc(0.5 * 100vw);  
}